$sl-font-family: 'Poppins', sans-serif;
$sl-overlay-background: #212121;
$sl-navigation-color: #fafafa;
$sl-caption-background: #21212199;

@import 'simple-lightbox';

$content-side-padding: 10px;
$gallery-gap: 10px;

body {
  width: 100%;
  min-height: 100vh;
  color: #fafafa;
  background: linear-gradient(to bottom, #666, #212121);
  background-size: 100% calc(100% + 60px);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.search {
  z-index: 1;
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 540px;
  height: 225px;

  &__title {
    pointer-events: none;
    font-weight: 500;
    font-size: 75px;
    margin: 0 auto;
  }

  &__container {
    pointer-events: none;
    position: relative;
    margin: 20px 0 30px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10%;
      background-color: #fafafa;
      mask-image: url(../img/search.svg);
      mask-repeat: no-repeat;
      mask-size: 60%;
      mask-position: 70% center;
    }

    &::after {
      pointer-events: all;
      cursor: pointer;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 10%;
      background-color: #fafafa;
      mask-image: url(../img/clear.svg);
      mask-repeat: no-repeat;
      mask-size: 60%;
      mask-position: left center;
    }

    &.noclear::after {
      display: none;
    }
  }

  &__box {
    pointer-events: all;
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: solid 1px #fafafa;
    border-radius: 25px;
    padding: 0 10%;
    caret-color: #fafafa;
    outline: none;
    color: #fafafa;
    font-weight: inherit;

    &::placeholder {
      color: #888;
    }
  }

  &__button {
    width: 150px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fafafa;
    font-weight: 100;
    padding: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #444;
    }
  }

  &__found {
    display: none;
  }
}

.content {
  display: none;

  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 20px $content-side-padding 75px;

  &__notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    opacity: 0.2;

    &.hidden {
      display: none;
    }
  }

  &__end {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    font-size: 30px;
    opacity: 0.2;

    & a {
      text-decoration: none;
      color: inherit;
    }

    &.hidden {
      display: none;
    }
  }
}

.gallery {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: $gallery-gap;
  list-style: none;

  &__card {
    position: relative;
    min-width: 200px;
    flex-basis: calc(100% / 4 - 10px);
    background-color: #666;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: grayscale(0.6);

    &:hover {
      transform: scale(1.03);
      filter: grayscale(0);

      & .gallery__stats {
        opacity: 1;
      }
    }
  }

  &__link {
    cursor: zoom-in;
  }

  &__image {
    width: 100%;
    min-height: 125px;
    height: calc(
      (100vw - (($content-side-padding * 2) + ($gallery-gap * 4))) / 4 * 0.625
    );
    object-fit: cover;
    object-position: center;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  &__stats {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 5px;
    backdrop-filter: blur(10px) brightness(60%);
    font-size: 12px;
    opacity: 0;
  }

  &__data {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70px;
    min-height: 30px;

    &::before {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background-color: #fafafa;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    &.likes::before {
      width: 20px;
      height: 20px;
      mask-image: url(../img/like.svg);
    }

    &.views::before {
      mask-image: url(../img/view.svg);
    }

    &.comments::before {
      width: 20px;
      height: 20px;
      margin-left: 3px;
      mask-image: url(../img/comment.svg);
    }

    &.downloads::before {
      margin-right: 2px;
      mask-image: url(../img/download.svg);
    }
  }
}

.insearch {
  & .search {
    top: 0;
    left: 0;
    transform: none;
    justify-content: start;
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
    background-color: #666;
    border-bottom: solid 1px #aaa;

    &__title {
      font-size: 30px;
      margin: 0 15px 0 10px;
    }

    &__container {
      margin: 0 15px 0 0;

      &::before {
        display: none;
      }
    }

    &__box {
      width: 300px;
      height: 30px;
      padding-left: 5%;
      padding-right: 9.5%;
      font-size: 14px;
    }

    &__button {
      position: relative;
      width: 35px;
      height: 35px;
      margin-top: -1px;
      background-color: transparent;
      border: solid 1px #fafafa;
      border-radius: 50%;
      font-size: 0px;

      &::after {
        position: absolute;
        top: 10%;
        left: 12%;
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background-color: #fafafa;
        mask-image: url(../img/search.svg);
      }
    }

    &__found {
      display: block;
      margin: 0 10px 0 auto;
      font-size: 12px;
      opacity: 0.2;
    }
  }

  & .content {
    display: block;
  }
}
